.DS_Store
.AppleDouble
.LSOverride
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

temp
dist
# Ignore hidden folders
.*/

*.min.css
#*.min.js
.sass-cache/*
node_modules
cli/_cache/
cli/tasks/init/remotes/_cache/
cli/tasks/init/yeoman/root/

